.panelViewContainer{
    color: #E6EDF3;
    font-family: 'JetBrains Mono', monospace;
    font-size: large;
    width: 100%;
}
#headerSection{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 2rem 5rem;
    #horizontalLine{
        width: 100%;
        height: 5px;
        background: #161B22;
    }
}